*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #ccc
}
.conrainer {
     max-width: 500px;
     margin: 0 auto;
}

#job{
    max-width: 600px;
    background-color: white;
    margin: 0 auto;  
    padding: 6px;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
    border-radius: 10px auto;  
}

.small{
    font-size: 15px;
     
}

.form_container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(200px , 1fr));
    gap: 20px; 
}

.form-control {
    display: flex;
    flex-direction: column;
}
label{
    font-size: 15px;
    margin-bottom: 5px;
}

input , select , textarea {
    padding: 6px 10px;
    border: 1px solid gray;
    border-radius: 4px;
    font-size: 10px;
}

input :focus {
     outline-color: red;
}

.button {
    display: flex;
    justify-content: end;
    margin-top: 0;
    margin-right: 20px;
}

button{
    background-color: red;
    border: transparent solid 2px;
    padding: 5px 10px;
     margin: 10px;
    color: white;
    border-radius: 8px;
    transition: 0.3s ease-in;
}

button:hover {
    background-color: #ccc;
    border: 2px solid green;
    color: black;
    transition: 0.3s ease-out;
    cursor: pointer;
}

.textarea-control {
    grid-column: 1 / span 2;
}

.textarea-control textarea {
    width: 100%;
}

@media (max-width:460px) {
    .textarea-control {
        grid-column: 1 / span 1;
    }
}